<h1>Your final tale:</h1>

<p>
  <%= @story.one.html_safe %>
</p>

<p>
  <%= @story.two.html_safe %>
</p>

<p>
  <%= @story.three.html_safe %>
</p>

<p>
  <%= @story.four.html_safe %>
</p>

<p>
  <%= @story.five.html_safe %>
</p>

<p>
  <%= @story.six_a.html_safe %>
</p>

And you lived happily ever after!
