Your final tale:

<p>
  <%= @story.one %>
</p>

<p>
  <%= @story.two %>
</p>

<p>
  <%= @story.three %>
</p>

<p>
  <%= @story.four %>
</p>

<p>
  <%= @story.five %>
</p>

<p>
  <%= @story.six %>
</p>

And you lived happily ever after!
